/* fuente */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Indie+Flower&display=swap');

body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Indie Flower', cursive;
    overflow-x:hidden;
}

#menu{
    background-color:rgb(240, 230, 237) !important;
} 

.logo{
    width: 200px;
}

.slideimg{
    height: 350px;
}

/* noticias o novedades */
#novedades{
    background-color: rgb(248, 166, 221);
}

#novedades .titulo{
    width: 100%;
    color: #fff;
    text-align: center;
}

.card-title{
    text-align: center;
}

.buy{
    margin-left: 75%;
}

/*servicios*/
.services{
    width: 180px;
    height: 160;
}