/* fuente */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family:'Montserrat', sans-serif;
    overflow-x:hidden;
}

#menu{
    background-color:rgb(245, 244, 244) !important;
} 

.logo{
    width: 200px;
}

.carousel-caption {
    /* FONT-WEIGHT: 400; */
    position: absolute;
    top: 40%;
    bottom: 20px;
    left: 15%;
    z-index: 10px;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: rgb(250, 244, 244);
    text-align: right;
}

.btn-light {
    --bs-btn-color: #e9eff5;
    --bs-btn-bg: transparent;
    --bs-btn-hover-border-color: #212529;
    --bs-btn-focus-shadow-rgb: 211,212,213;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #2071c2;
    --bs-btn-active-border-color: #5399e0;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #0c3a68;
    --bs-btn-disabled-border-color: #f8f9fa;
    border: 2px solid #ffff;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
}


/* noticias o novedades */
#noticias{
    background-color: rgb(238, 150, 234);
}

#noticias .titulo{
    width: 100%;
    color: rgb(26, 23, 23);
    text-align: center;
}

.card-title{
    text-align: center;
}

.card img{
    width: 400px;
    height: 400px;
}

.buy{
    margin-left: 30%;
    
}

/* servicios */
.services{
    width: 180px;
    height: 160px;
}
.iconos-redes{
    width: 20px;
    margin: 10px 5px;
    
}

/* footer */

footer{
    background-color: rgb(204, 142, 235);
    padding: 100px 0;
    text-align: center;
}

footer.logo{
    width: 200px;
    margin-bottom: 20px;
}


/* pagina Manicure */
#ofertas{
    background-color: rgb(255, 255, 255);
}
#ofertas .titulo {
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
}

/* pag contacto */
#contacto .titulo {
    width: 100%;
    text-align: center;
}
