/* fuente */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Indie+Flower&display=swap');

body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Indie Flower', cursive;
    overflow-x:hidden;
}

#menu{
    background-color:rgb(240, 230, 237) !important;
} 

.logo{
    width: 200px;
}

.slideimg{
    height: 550px;
    z-index: 1;
}

/* noticias o novedades */
#novedades{
    background-color: rgb(248, 166, 221);
}

#novedades .titulo{
    width: 100%;
    color: #fff;
    text-align: center;
}

.card-title{
    text-align: center;
}

.buy{
    margin-left: 75%;
}

/*servicios*/
.services{
    width: 180px;
    height: 160;
}

/* footer */
#page-footer .ftcontainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    background-color: rgb(208, 171, 243);
    padding: 70px 0;
}

.footer_cta-ftcontainer{
    max-width: 1200px;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
}

.ftrow{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}